+font('Lato Light', 'lato-lig-webfont')
+font('Lato Bold', 'lato-bol-webfont')
+font('Lato Regular', 'lato-reg-webfont')
+font('Lato Hairlane', 'lato-hai-webfont')

=lato-light
	font-family: 'Lato Light', sans-serif
=lato-bold
	font-family: 'Lato Bold', sans-serif
=lato-regular
	font-family: 'Lato Regular', sans-serif
=lato-hairlane	
	font-family: 'Lato Hairlane', sans-serif