<div class="app">
	<div class="layout">
	<div class="app__iphone">
	<img src="img/iphone.png" alt="" ></div>
	<div class="app__content">
		<h2 class="app__title">INTRODUCING THE FUDI APP</h2>
		<div class="app__text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim mollitia porro assumenda ratione illo ad minus error obcaecati voluptatem quia.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim mollitia porro assumenda ratione illo ad minus error obcaecati voluptatem quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, reiciendis non molestiae earum, sit exercitationem repudiandae cumque vitae assumenda dicta!</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim mollitia porro assumenda ratione illo ad minus error obcaecati voluptatem quia.</p>

		</div>
		<div class="app__stores">
			<img src="img/appstore.jpg" alt="">
			<img src="img/googleplay.jpg" alt="">
		</div>
	</div>
	</div>
</div>