{% set 
cusines = [
	{
		img: 'img/italian.jpg', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/indian.jpg', 
		recipes: '268 recipies',
		country: 'INDIAN'
	},
	{
		img: 'img/french.jpg', 
		recipes: '268 recipies',
		country: 'FRENCH'
	},
	{
		img: 'img/italian.jpg', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/indian.jpg', 
		recipes: '268 recipies',
		country: 'INDIAN'
	},
	{
		img: 'img/french.jpg', 
		recipes: '268 recipies',
		country: 'FRENCH'
	},
	{
		img: 'img/italian.jpg', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/indian.jpg', 
		recipes: '268 recipies',
		country: 'INDIAN'
	},
	{
		img: 'img/french.jpg', 
		recipes: '268 recipies',
		country: 'FRENCH'
	},
	{
		img: 'img/italian.jpg', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	}
] 
%}