{% set 
cusines = [
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	},
	{
		img: 'img/italian.png', 
		recipes: '268 recipies',
		country: 'ITALIAN'
	}
] 
%}