{% set 
get_block = [
	{
		icon: 'burger', 
		title: 'GET INSPIRED',
		text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto maxime ab cumque sequi, nesciunt quidem ducimus voluptatum.'
	},
	{
		icon: 'money',
		title: 'GET REVARDED',
		text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto maxime ab cumque sequi, nesciunt quidem ducimus voluptatum.'
	},
	{
		icon: 'chef',
		title: 'GET INSPIRED',
		text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto maxime ab cumque sequi, nesciunt quidem ducimus voluptatum.'
	}
] 
%}
