{% set 
review = [
	{
		img: 'img/face.png', 
		comment: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim mollitia porro assumenda ratione illo ad minus error obcaecati voluptatem quia.',
		from: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo labore nam voluptates.'
	},
	{
		img: 'img/face.png', 
		comment: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim mollitia porro assumenda ratione illo ad minus error obcaecati voluptatem quia.',
		from: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo labore nam voluptates.'
	},
	{
		img: 'img/face.png', 
		comment: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim mollitia porro assumenda ratione illo ad minus error obcaecati voluptatem quia.',
		from: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo labore nam voluptates.'
	}
] 
%}